
body {
    background: rgb(215, 215, 215);
    margin: 0px;
    font-family: verdana; 
}
.heading{
    color:#ffffff;
    background-color:rgb(228, 196, 54);
    padding: 10px;
    width: 180px;
    text-align: right;
}
.heading_span{
    margin-top: 35px;
    opacity: 0.5;
    font-size: 15px;
}
.home_container {
    position: relative;
    height: 100%;
}
.sidebar {
    width: 22%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    padding-top: 20px;
}
.sidebar img {
    width: 100px;
    border-radius: 100%;
    border: 2px solid #e5e5e5 .7rem solid var(--yellow);
}
.sidebar h4 {
    color: #967474;
}
.home {
    background-image: url('../images/home_page_bg_2.jpeg');
    height: 100vh;
    margin-left: 22%;
    color: #fff;
    position: relative;
}
.home .home_mask {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.619);
}
.home .home_text {
    margin-top: 10%;
    width: 100%;
    position: absolute;
    font-family: verdana;
    right: 0;
    font-size: 20px;
}    
.home .user_name {
    font-size: 60px;
    margin: 0px;
    padding-top: 80px;
}
.home .user_role {
    color: rgb(245, 245, 245);
    opacity: 0.5;
}
.home u{
    font-size: 20px;
    text-decoration-thickness: 4px;
    text-decoration-color: rgb(208, 255, 0);
    line-height: 4; 
    text-align: left;
    margin-left: 30%;
    margin-right: 5%;
    font-weight: bold;
}
#nav {
    list-style-type: none;
    text-align: center;
    padding: 0px;
}
#nav li {
    position: relative;
    padding: 10px;
    border-bottom: 1px solid rgb(237, 236, 236);
    border-top: 1px solid rgb(237, 236, 236);
    margin-top: -1px;
}
#nav li.active {
    background-color: rgb(241, 241, 241);
}

#nav li.active a::after {
    background-color: #ffd000d0;
    display: block;
    position: absolute;
    content: " ";
    right: 0;
    bottom: 0;
    width: 3px;
    height: 100%;
}
#nav a {
    color: black;
    text-decoration: none;
}
